body{
    background-color: #221f1f;
}

body > header, body > footer{
    background-color: rgb(0, 89, 255);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

body > header > h1{
    font-family: 'Courier New', Courier, monospace;
}



body > footer > p{
    font-family: 'Courier New', Courier, monospace;
}



